<% include layouts/main-layout %>
<%
  const activePage = 'dashboard';
%>
<% include layouts/navbar with { activePage: activePage } %>


<body style="background: lightgray">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">MENU</th>
                                    <th style="text-align: center;" scope="col">AKSI</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>JENIS KAMAR</td>
                                    <td class="text-center">
                                        <a href="/jenis-kamar" class="btn btn-sm btn-primary">AKSES MENU</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>KAMAR</td>
                                    <td class="text-center">
                                        <a href="/kamar" class="btn btn-sm btn-primary">AKSES MENU</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>LAYANAN</td>
                                    <td class="text-center">
                                        <a href="/layanan" class="btn btn-sm btn-primary">AKSES MENU</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>TAMU</td>
                                    <td class="text-center">
                                        <a href="/tamu" class="btn btn-sm btn-primary">AKSES MENU</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>CHECK-IN / CHECK-OUT</td>
                                    <td class="text-center">
                                        <a href="/penginapan" class="btn btn-sm btn-primary">AKSES MENU</a>
                                    </td>
                                </tr>

                            </tbody>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>