<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistem Informasi Hotel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>

<body style="background: lightgray">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">MENU</th>
                                    <th scope="col">AKSI</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>JENIS KAMAR</td>
                                    <td class="text-center">
                                        <a href="/jenis-kamar" class="btn btn-sm btn-primary">AKSES MENU</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>KAMAR</td>
                                    <td class="text-center">
                                        <a href="/kamar" class="btn btn-sm btn-primary">AKSES MENU</a>
                                    </td>
                                </tr>
                            </tbody>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>