<% include layouts/main-layout %>
<%
  const activePage = 'dashboard';
%>
<% include layouts/navbar with { activePage: activePage } %>

<style>
    #container-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<body style="background: lightgray">
    <div class="container mt-5">
        <h2 class="text-center">Selamat Datang </h2>
        <div class="container" id="container-img">
            <img src="/images/headers.jpeg">
        </div>
    </div>
</body>