<% include ../layouts/main-layout %>

<body style="background: lightgray">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <% if (messages.error) { %>
                <div class="alert alert-danger" role="alert" style="position: relative;">
                    <%- messages.error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        style="position: absolute; right: 0 ;top: 0; background: none; border: none;">
                        <span aria-hidden="true" style="font-size: 20px;">&times;</span>
                    </button>
                </div>
                <% } %>
                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <a href="/jenis-kamar" class="btn btn-md btn-outline-primary mb-3">KEMBALI</a>

                        <form action="/jenis-kamar/store" method="post">
                            <div class="form-group">
                                <label>Tipe Kamar</label>
                                <input type="text" class="form-control" name="tipeKamar" value="<%= tipeKamar %>"
                                    placeholder="Masukkan Tipe Kamar">
                            </div>
                            <div class="form-group">
                                <label>Harga Kamar</label>
                                <input type="text" class="form-control" name="harga" id="hargaInput"
                                    value="<%= harga %>" placeholder="Masukkan Harga Kamar">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">SIMPAN</button>
                            <button type="reset" class="btn btn-warning">RESET</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/autonumeric@4"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new AutoNumeric('#hargaInput', {
                currencySymbol: 'Rp ',
                decimalCharacter: ',',
                digitGroupSeparator: '.',
                decimalPlaces: 0,
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    </script>
</body>

</html>